@{
    ViewData["Title"] = "Home Page";
}


<div hx-get="/Htmx/ClienteCabezera" hx-target="this" hx-trigger="load">
    cargando ...
</div>

<div hx-get="/Htmx/ClienteListaPrestamos" hx-target="this" hx-trigger="load">
    cargando ...
</div>

 